@supports not selector(:has(>.nav-menu>.navHome>input#navHome:checked)) {
    main.home {
        display: flex;
    }

    main.menu {
        display: none;
    }

    main.about {
        display: none;
    }
}