main.about {
    width: 90%;
    height: 100%;

    display: none;

    background-color: rgba(var(--color-secondary-2), .45);

    border-bottom-left-radius: 4rem;

    padding-left: .5rem;

    overflow: hidden;

}

/* SECTION About Heading */

main.about>div.about-heading {
    width: 12%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: baseline;

}

main.about>div.about-heading>p.about-title {
    margin: 4.25rem auto;

    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);

    font-size: 4rem;

    align-self: flex-end;
}

main.about>div.about-heading>svg.title-icon {
    width: 6rem;
    height: 6rem;

    fill: rgba(var(--color-text-secondary));
}

/* END !SECTION About Heading */

main.about>div.about-info {

    width: 88%;

    display: flex;

    background-color: rgba(var(--color-secondary-2), .45);
    border-bottom-left-radius: 4rem;
}

/* SECTION About Left */

main.about>div.about-info>div.about-left {
    width: 54%;

    font-size: 1.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    padding: 0rem 2rem;

    overflow-y: auto;

}

main.about>div.about-info>div.about-left>p::first-letter {
    font-weight: 800;
    font-size: 3rem;
    padding-right: .25rem;
    color: rgba(var(--color-primary-1));
}

/* END !SECTION About Left */

/* SECTION About Right */

main.about>div.about-info>div.about-right {
    width: 46%;

    font-size: 1.15rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;

    background-color: rgba(var(--color-secondary-2), .65);
    border-bottom-left-radius: 4rem;

    text-align: center;
}

main.about>div.about-info>div.about-right>.heading-small {
    color: rgba(var(--color-primary-1));
    font-size: 2rem;
    margin-bottom: 1rem;

    font-weight: 800;
}

main.about>div.about-info>div.about-right>address>a {
    font-size: 1.15rem;
    font-style: normal;

    color: rgba(var(--color-text-secondary));

    text-decoration: none;

}

/* END !SECTION About Right */