main.menu {
    width: 90%;
    height: 100%;

    display: none;

    background-color: rgba(var(--color-secondary-2), .45);

    border-bottom-left-radius: 4rem;

    padding-left: .5rem;

    overflow: hidden;

    --color-aptz: 63, 72, 51;
    --color-dish: 82, 43, 41;
    --color-mc: 117, 16, 6;
    --color-comp: 93, 60, 24
}

/* SECTION Menu Heading */

main.menu>div.menu-heading {
    width: 12%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: baseline;

}

main.menu>div.menu-heading>p.menu-title {
    margin: 4.25rem auto;

    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);

    font-size: 4rem;

    align-self: flex-end;
}

main.menu>div.menu-heading>svg.title-icon {
    width: 6rem;
    height: 6rem;

    fill: rgba(var(--color-text-secondary));
}

/* END !SECTION Menu Heading */

/* SECTION Slide Menu */

main.menu>div.menu-slides {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 88%;
    height: 100%;

    border-bottom-left-radius: 4rem;

    background-color: rgba(var(--color-secondary-2), .45);

    overflow: hidden;
}

.menu-slides>label {
    padding: .25rem 3.5rem .18rem;

    height: 12%;

    font-size: 1.5rem;
    /* text-align: center; */

    background-color: rgba(var(--color-secondary-2), .65);

    display: flex;
    align-items: center;
}

.grid-vertical {
    display: none;

    height: 100%;

}

/* SECTION Slide Menu Appetizer */

.menu-slides>input#appetizer:checked~.tab-appetizer-window {
    display: grid;
    grid-template-columns: 15rem;
    grid-template-rows: repeat(auto-fill, 10rem);
    grid-auto-columns: 15rem;
    gap: 2rem 1rem;
    align-content: space-evenly;

    padding: 1rem;

    grid-auto-flow: column;

    overflow-x: auto;

    background-color: rgba(var(--color-aptz), .15);
}

.menu-slides>input#appetizer+label,
.menu-slides>input#appetizer label {
    background-color: rgba(var(--color-aptz), .85);
}

/* SECTION Grid Item  */

.grid-item {
    display: grid;
    grid-template-columns: repeat(4, .5fr);
    grid-template-rows: repeat(3, .5fr);
    align-items: center;
    justify-items: center;

    border-radius: .25rem;

    overflow: hidden;

    font-family: 'Maron Rose';
}

.grid-item>img.item-image,
.grid-item>.item-image-fg {
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 1;
}

.grid-item>.item-image-fg {
    background: linear-gradient(to bottom, rgba(var(--color-secondary-2), 0.75) 30%, rgba(var(--color-secondary-2), 1));

    z-index: 2;
}

.grid-item:hover>.item-image-fg {
    background: linear-gradient(to bottom, rgba(var(--color-secondary-2), 0.5) 60%, rgba(var(--color-secondary-2), 1));
}

.grid-item>div.item-sideInfo {
    grid-column: -5 / -3;
    grid-row: -2 / -1;
    align-self: start;
    justify-self: start;

    margin-left: .65rem;

    z-index: 4;
}

.grid-item>div.item-sideInfo>.item-title {
    font-size: 1.45rem;
    color: rgb(var(--color-text-primary));
}

.grid-item>div.item-sideInfo>.item-price {
    margin-bottom: .65rem;
}

.grid-item>div.item-sideInfo>p {
    margin: 0rem;
}

.grid-item>button.item-button {

    grid-area: -2 / -2 / -1 / -1;

    z-index: 4;

    background: rgba(var(--color-secondary-2), .45);
    border: none;
    border-radius: .25rem;

    padding: .25rem;
}

svg.icon-button {
    width: 2rem;
    height: 2rem;

    fill: rgba(var(--color-text-primary));
}

button.item-button:hover>svg.icon-button {
    fill: rgba(var(--color-text-secondary));
}

/* END !SECTION Grid Item  */

/* END !SECTION Slide Menu Appetizer */

/* SECTION Slide Menu Dish */

.menu-slides>input#dish:checked~.tab-dish-window {
    display: flex;

    background-color: rgba(var(--color-dish), .15);
}

.grid-vertical>label {

    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: 1.2rem;

    padding: 2rem .8rem 0rem;
}

.menu-slides>input#dish+label {
    background-color: rgba(var(--color-dish), .85);
}

.menu-slides>input#dish~.tab-dish-window label {
    background-color: rgba(var(--color-dish), .25);
}

.grid-horizontal {
    display: none;

    grid-template-columns: 15rem;
    grid-template-rows: repeat(auto-fill, 10rem);
    grid-auto-columns: 15rem;
    gap: 2rem 1rem;
    grid-auto-flow: column;
    align-content: space-evenly;

    padding: 1rem;

    overflow-x: auto;

    width: 100%;
}

.tab-dish-window>input#dishVeg:checked~.tab-dishVeg-window {
    display: grid;
}

.tab-dish-window>input#dishVeg:checked+label {
    background-color: rgba(var(--color-dish), .7);
}

.tab-dish-window>input#dishBeef:checked~.tab-dishBeef-window {
    display: grid;
}

.tab-dish-window>input#dishBeef:checked+label {
    background-color: rgba(var(--color-dish), .7);
}

.tab-dish-window>input#dishLamb:checked~.tab-dishLamb-window {
    display: grid;
}

.tab-dish-window>input#dishLamb:checked+label {
    background-color: rgba(var(--color-dish), .7);
}

.tab-dish-window>input#dishSea:checked~.tab-dishSea-window {
    display: grid;
}

.tab-dish-window>input#dishSea:checked+label {
    background-color: rgba(var(--color-dish), .7);
}

/* END !SECTION Slide Menu Dish */


/* SECTION Slide Menu MC */

.menu-slides>input#mc:checked~.tab-mc-window {
    display: flex;

    background-color: rgba(var(--color-mc), .15);
}

.menu-slides>input#mc+label {
    background-color: rgba(var(--color-mc), .85);
}

.menu-slides>input#mc~.tab-mc-window label {
    background-color: rgba(var(--color-mc), .25);
}

.tab-mc-window>input#mcBiriyani:checked~.tab-mcBiriyani-window {
    display: grid;
}

.tab-mc-window>input#mcBiriyani:checked+label {
    background-color: rgba(var(--color-mc), .7);
}

.tab-mc-window>input#mcTandoori:checked~.tab-mcTandoori-window {
    display: grid;
}

.tab-mc-window>input#mcTandoori:checked+label {
    background-color: rgba(var(--color-mc), .7);
}


/* END !SECTION Slide Menu MC */

/* SECTION Slide Menu Comp */


.menu-slides>input#comp:checked~.tab-comp-window {
    display: flex;

    background-color: rgba(var(--color-comp), .15);
}

.menu-slides>input#comp+label {
    background-color: rgba(var(--color-comp), .85);
}

.menu-slides>input#comp~.tab-comp-window label {
    background-color: rgba(var(--color-comp), .25);
}

.tab-comp-window>input#compBread:checked~.tab-compBread-window {
    display: grid;
}

.tab-comp-window>input#compBread:checked+label {
    background-color: rgba(var(--color-comp), .7);
}

.tab-comp-window>input#compBev:checked~.tab-compBev-window {
    display: grid;
}

.tab-comp-window>input#compBev:checked+label {
    background-color: rgba(var(--color-comp), .7);
}

.tab-comp-window>input#compDes:checked~.tab-compDes-window {
    display: grid;
}

.tab-comp-window>input#compDes:checked+label {
    background-color: rgba(var(--color-comp), .7);
}

/* END !SECTION Slide Menu Comp */


/* END !SECTION Slide Menu */